@tailwind base;
@tailwind components;
@tailwind utilities;

/* ДОБАВИТЬ ВОТ ЭТО: */
html,
body {
  overflow-x: hidden; /* Жестко обрезает все, что вылезает по ширине */
  width: 100%;
  position: relative;
}

/* Если вдруг прокрутка все равно есть, можно добавить это к главному контейнеру */
.overflow-fix {
  overflow-x: hidden;
  max-width: 100vw;
}

/* --- ДОБАВИТЬ ВОТ ЭТО --- */
html,
body {
  max-width: 100vw;
  overflow-x: hidden; /* Жесткий запрет на вылезание вправо */
}

/* Убираем скроллбар, но оставляем скролл (для каруселей) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}